<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><%= image_tag @product.image.variant(resize_to_fit: [500, 500]) if @product.image.attached? %></div>
      <div class="col-md-6">
        <div class="small mb-1"><%= @product.sku %></div>
        <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
        <div class="fs-5 mb-5">
          <span><%= number_to_currency(@product.price, locale: 'jp') %></span>
        </div>
        <p class="lead"><%= @product.description %></p>
        <div class="d-flex">
          <%= form_with url: '/carts/add-to-cart' do |form| %>
            <%= form.hidden_field :product_id, value: @product.id %>
            <%= form.number_field :quantity, value: 1, in: 1..10, step: 1 %>
            <%= form.submit "カートに追加", class: "btn btn-outline-dark mt-auto" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @recent_products.each do |product| %>
        <%= render partial: 'product', locals: { product: product } %>
      <% end %>
    </div>
  </div>
</section>
